In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [3]:
# Read the CSV files into DataFrames.
athletic_sales_2020 = pd.read_csv('athletic_sales_2020.csv')
athletic_sales_2021 = pd.read_csv('athletic_sales_2021.csv')

In [4]:
# Display the 2020 sales DataFrame
print(athletic_sales_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732     1/1/2020  Northeast      New York
1     Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
2     Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
3     Foot Locker      1185732     1/1/2020  Northeast      New York
4     Foot Locker      1185732     1/1/2020  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299   12/30/2020       West    California
1293    West Gear      1128299   12/30/2020       West    California
1294       Kohl's      1189833   12/30/2020    Midwest     Minnesota
1295       Kohl's      1189833   12/30/2020    Midwest     Minnesota
1296    West Gear      1128299   12/30/2020       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [5]:
# Display the 2021 sales DataFrame
print( athletic_sales_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [6]:
# Check the 2020 sales data types.
print(athletic_sales_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [7]:
# Check the 2021 sales data types.
print(athletic_sales_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [8]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
sales_data = pd.concat([athletic_sales_2020, athletic_sales_2021]).reset_index(drop=True)

In [9]:
# Check if any values are null.
print(sales_data.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [10]:
# Check the data type of each column
print(sales_data.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [34]:
# Convert the "invoice_date" to a datetime datatype
sales_data['invoice_date'] = pd.to_datetime(sales_data['invoice_date'])

ValueError: time data "1/1/21" doesn't match format "%m/%d/%Y", at position 358. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [36]:
# Confirm that the "invoice_date" data type has been changed.
print(sales_data["invoive_date"].dtype)

KeyError: 'invoive_date'

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [13]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
# Show the top 5 results.
region_sales = sales_data.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
region_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
print(region_sales.nlargest(5, 'Total_Products_Sold'))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [14]:
# Show the number products sold for region, state, and city.
# Rename the "units_sold" column to "Total_Products_Sold"
# Show the top 5 results.
region_sales_pivot = sales_data.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum')
region_sales_pivot.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
print(region_sales_pivot.nlargest(5, 'Total_Products_Sold'))

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [15]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
region_sales = sales_data.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
region_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(region_sales.nlargest(5, 'Total Sales'))

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [16]:
# Show the total sales for the products sold for each region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
region_sales_pivot = sales_data.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')
region_sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(region_sales_pivot.nlargest(5, 'Total Sales'))

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
retailer_sales = sales_data.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
retailer_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(retailer_sales.nlargest(5, 'Total Sales'))

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [18]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
retailer_sales_pivot = sales_data.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')
retailer_sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(retailer_sales_pivot.nlargest(5, 'Total Sales'))

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [19]:
# Filter the sales data to get the women's athletic footwear sales data.
women_footwear_sales = sales_data[sales_data['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.
women_footwear_retailer_sales = women_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
women_footwear_retailer_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
print(women_footwear_retailer_sales.nlargest(5, 'Womens_Footwear_Units_Sold'))

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [21]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.
women_footwear_retailer_sales_pivot = women_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')
women_footwear_retailer_sales_pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
print(women_footwear_retailer_sales_pivot.nlargest(5, 'Womens_Footwear_Units_Sold'))

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [27]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the table.
daily_sales = women_footwear_sales.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')
daily_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(daily_sales)

              Total Sales
invoice_date
1/10/21            315859
1/11/2020          129556
1/11/21             66584
1/12/21            405693
1/13/21            256764
...                   ...
9/6/21             103419
9/7/21             241024
9/8/2020           726106
9/8/21             242278
9/9/21             388630

[355 rows x 1 columns]

In [32]:
# Resample the pivot table into daily bins, and get the total sales for each day.
# Sort the resampled pivot table in ascending order on "Total Sales".
daily_sales_resampled = daily_sales.resample('D').sum()
print(daily_sales_resampled.sort_values(by='Total Sales', ascending=False))

SyntaxError: unmatched ')' (4254969456.py, line 4)

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [24]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_sales_resampled = daily_sales.resample('W').sum()
print(weekly_sales_resampled.sort_values(by='Total Sales', ascending=False))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'